<script>
export default {
  props: ['brief', 'number', 'src', 'reverse', 'wave', 'circle', "distanceFromLeft"]
}

</script>

<template>


    <div class="w-full pt-10 flex flex-col justify-center items-center">
        <img v-if="wave" src="~/assets/img/up_card.svg" class="translate-y-10 -mt-28 z-10" /> 
        <img v-if="circle" src="~/assets/img/circle_card.svg" class="-mt-32 -mb-60 -translate-x-24 translate-y-16 -z-10" />
        <div :class="`w-full flex ${wave && 'bg-main-green-pale z-20'} ${reverse ? 'flex-col-reverse' : 'flex-col' } justify-center`">
          <div class="flex flex-row">
            <div class="w-2/6"></div>
            <img :src="require('@/assets/img/'+ src)" class="w-4/6 h-40" />
            <div class="w-1/6"></div>
          </div>
          <div :class="`w-full flex items-end ${`left-`+ distanceFromLeft} space-x-6 relative ${reverse ? '-top-4' : '-top-12'}`">
            <span class="text-9xl font-lato align-bottom translate-y-2.5">{{ number }}.</span>
            <p class="text-lg">{{ brief }}</p>
          </div>
        </div>
        <img v-if="wave" src="~/assets/img/down_card.svg" class="-translate-y-10 -mb-28" />
      </div>
</template>
