
<script lang="ts">

export default{
    data(){
        return {
            buttomStatus: 'left',
            lastButtonStatus: 'center',
            selectedButton: 'text-white bg-teal-400',
            unSelectedButton: 'text-teal-600 bg-white'
        }
    },

    methods: {
        onClickHandler(status: string) {
            if(this.buttomStatus == status) return;
            this.lastButtonStatus = this.buttomStatus
            this.buttomStatus = status
        },

        cssClass(): string {
            return `animate-${this.lastButtonStatus}-${this.buttomStatus}`
        }
    }
}

</script>

<template>
  <div  >
      <div class="top-level-border sticky top-0 z-40"></div>  
      <header class="bg-white z-40 w-full sticky top-1 rounded-b-xl shadow-lg flex justify-end px-6 lg:px-8 py-4">
        <a class=" no-underline text-teal-600 hover:underline font-medium mx-2 cursor-pointer">
          Login
        </a>
      </header>

  <div class="relative min-h-screen overflow-hidden">
      <main class="pb-40">
        <section class="" >
          <div class="bg-main-green-pale pt-10" >
            <h1 class="text-5xl text-center " >Deine Job website</h1>
            <img src="~/assets/img/undraw_agreement_aajr.svg" class="transform scale-110 translate-x-2 translate-y-10 z-30 bg-main-green-pale" />

          </div>
            <img src="~/assets/img/undraw_agreement_wave.svg" class="pt-14" />
        </section>

        <section class="relative py-10 overflow-x-hidden">
            <div :class="`helper-class absolute ${cssClass()} border-2 border-gray-200 rounded-l-xl rounded-r-xl divide-x-2 text-sm first-letter: top-10 flex flex-row h-10 overflow-y-auto `" >
            <!-- <div :class="`helper-class absolute animate-left-right border-2 border-gray-200 rounded-l-xl rounded-r-xl divide-x-2 text-sm first-letter: top-10 flex flex-row h-10 overflow-y-auto `" > -->
                <span @click="onClickHandler('left')" :class="`w-48 flex justify-center items-center ${ buttomStatus == 'left' ? selectedButton : unSelectedButton} `" >Arbeitnehmer</span>
                <span @click="onClickHandler('center')" :class="`w-48 flex justify-center items-center ${ buttomStatus == 'center' ? selectedButton : unSelectedButton}`" >Arbeitgeber</span>
                <span @click="onClickHandler('right')" :class="`w-48 flex justify-center items-center ${ buttomStatus == 'right' ? selectedButton : unSelectedButton}`" >Temporärbüro</span>
            </div>
        </section>

        <section v-if="buttomStatus == 'left'" class="w-full flex flex-col justify-center items-center text-gray-700 py-6">
          <h1 class="text-center w-2/3 font-lato text-2xl py-4">
            Drei einfache Schritte zu deinem neuen Job
          </h1>

          <div class="w-full">
            <Card number="1" distanceFromLeft="4"  src="undraw_Profile_data.svg" brief="Erstellen dein Lebenslauf"/>
            <Card number="2" distanceFromLeft="8" wave='true'  reverse="true" src="undraw_task.svg" brief="Erstellen dein Lebenslauf"/>
            <Card number="3" distanceFromLeft="12" circle='true' reverse="true" src="undraw_personal_file.svg" brief="Erstellen dein Lebenslauf"/>
          </div>
        </section>

        <section v-if="buttomStatus == 'center'" class="w-full flex flex-col justify-center items-center text-gray-700 py-6">
          <h1 class="text-center w-2/3 font-lato text-2xl py-4">
            Erhalte Vermittlungs- angebot von Arbeitgeber
          </h1>
          <div class="w-full">
            <Card number="1" distanceFromLeft="4"  src="undraw_Profile_data.svg" brief="Erstellen dein Lebenslauf"/>
            <Card number="2" distanceFromLeft="8" wave='true'  reverse="true" src="undraw_about_me_wa29.svg" brief="Erstellen ein Jobinserat"/>
            <Card number="3" distanceFromLeft="12" circle='true' reverse="true" src="undraw_swipe_profiles1_i6mr.svg" brief="Erhalte Vermittlungs- angebot von Arbeitgeber"/>
          </div>

        </section>

        <section v-if="buttomStatus == 'right'" class="w-full flex flex-col justify-center items-center text-gray-700 py-6">
          <h1 class="text-center w-2/3 font-lato text-2xl py-4">
            Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
          </h1>
          <div class="w-full">
            <Card number="1" distanceFromLeft="4"  src="undraw_Profile_data.svg" brief="Erstellen dein Lebenslauf"/>
            <Card number="2" distanceFromLeft="8" wave='true'  reverse="true" src="undraw_job_offers_kw5d.svg" brief="Erhalte Vermittlungs- angebot von Arbeitgeber"/>
            <Card number="3" distanceFromLeft="12" circle='true' reverse="true" src="undraw_business_deal_cpi9.svg" brief="Erhalte Vermittlungs- angebot von Arbeitgeber"/>
          </div>

        </section>

      </main>

      
        <div class="fixed left-0 bottom-0 flex justify-center items-center h-20 rounded-t-xl shadow-sm shadow-gray-800 bg-white p-6 w-full z-20">
          <button class="w-80 h-10 text-sm rounded-xl bg-gradient-to-r from-main-green-chromatic to-main-blue hover:bg-sky-700 text-white " >Kostenlos Registrieren</button>
        </div>
  </div>
  </div>
</template>


<style>

.top-level-border {
  height: 5px;
  width: 100%;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.helper-class{
  overflow: auto;
  width: 120%;
}

</style>
